/********** 总容器 **********/
.wrapper{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
}

/********** header **********/
.wrapper header{
	width: 100%;
	height: 12vw;
	background-color: #0097FF;
	color: #fff;
	font-size: 4.8vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

/********** 积分记录 **********/
.wrapper .creditrecord{
	width: 100%;
	margin-top: 12vw;
}
.wrapper .creditrecord li{
	width: 100%;
	box-sizing: border-box;
	padding: 3.5vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: solid 4vw #CCCCCC;
	background-color: #FFFFFF;
	border-radius: 8vw;
}
.wrapper .creditrecord li h1{
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 1.5vw 1.5vw;
	font-size: 5vw;
	border-bottom: solid 1px #CCCCCC;
}
.wrapper .creditrecord li p{
	font-size: 4vw;
}